*

# Repostory Metadata
!LICENSE
!README.md
!.gitignore

# Source code folder
!playground
!playground/
!playground/**/
!playground/**/*.ts
!playground/**/*.css
!playground/**/*.svg
!playground/**/*.html
!public
!public/**/
!public/**/*.svg
!src
!src/**/
!src/**/*.ts
!types/
!types/**/
!types/**/*.d.ts

# npm package menifest
!package.json
!package-lock.json
!.npmignore

# Utilities config
!vite.config.js
!biome.json
!tsconfig.json

# Husky Git hooks
!.husky
!.husky/**

# Gitea Workflows
!.gitea/
!.gitea/workflows/
!.gitea/workflows/*.yaml