*

# Repostory Metadata
!LICENSE
!README.md
!.gitignore

# Source code folder
!playground
!playground/
!playground/**/
!playground/**/*.ts
!playground/**/*.css
!playground/**/*.svg
!public
!public/**/
!public/**/*.svg
!src
!src/**/
!src/**/*.ts

# npm package menifest
!package.json
!package-lock.json

# Vite config
!vite.config.js
