body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
	display: flex;
	gap: 2rem;
}

#artwork {
	width: 15rem;
	height: 15rem;
	background-color: rgb(196, 202, 205);
	overflow: hidden;
}

#now_playing {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	width: 15rem;
}

#track_secondary {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 15rem;
}

#controller {
	flex: 1;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#track_title {
	font-size: 1rem;
	font-weight: bold;
}

#play_pause_btn {
	font-size: 2rem;
	width: 3rem;
	height: 3rem;
	border: 0.125rem solid black;
	border-radius: 9999rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#rewind_btn,
#forward_btn {
	font-size: 1.2rem;
}

#progress_bar {
	width: 15rem;
	height: 0.5rem;
	background: rgb(206, 206, 206);
	cursor: pointer;
	position: relative;
	border-radius: 0.25rem;
	transition: transform 0.2s ease;
}

#progress_bar:hover {
	transform: scaleY(1.2);
}

#progress_bar:active {
	transform: scaleY(1.1);
}

#progress_bar_inner {
	background: black;
	height: 100%;
	border-radius: 0.25rem;
	pointer-events: none;
	position: relative;
}

#progress_bar_inner::after {
	content: "";
	position: absolute;
	right: -0.375rem;
	top: 50%;
	transform: translateY(-50%);
	width: 0.75rem;
	height: 0.75rem;
	background: black;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.2s ease;
}

#progress_bar:hover #progress_bar_inner::after {
	opacity: 1;
}

#time_indicator {
	display: flex;
	justify-content: space-between;
}

#current_time,
#left_time {
	font-size: 0.75rem;
}

#play_queue {
	width: 15rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#play_mode_control {
	display: flex;
	height: 1.5rem;
}

#shuffle_btn,
#loop_btn,
#add_track_btn {
	flex: 1;
}

#queue {
	border-top: 0.125rem solid black;
	border-bottom: 0.125rem solid black;
	flex: 1;
	overflow: auto;
}

.divider {
	height: 100%;
	width: 0.125rem;
	background-color: black;
}

.queue_item {
	display: flex;
	margin: 1rem 0;
	gap: 0.5rem;
	align-items: center;
}

.queue_item .artwork {
	background-color: gray;
	width: 2.5rem;
	height: 2.5rem;
}

.queue_item .text_content {
	display: flex;
	flex-direction: column;
	font-size: 0.75rem;
	min-width: 0;
	flex: 1;
}

.queue_item .text_content .title {
	font-weight: bold;
}

.queue_item .text_content .title,
.queue_item .text_content .secondary {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
